<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.csc.qa.dao.TeacherDAO">
    <resultMap id="BaseResultMap" type="com.csc.qa.entity.Teacher">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="teacherid" property="teacherid" jdbcType="INTEGER"/>
        <result column="keyword" property="keyword" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, teacherid, keyword
    </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from teacher
        where id = #{id,jdbcType=INTEGER}
    </select>
    <select id="selectByTeacherId" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from teacher
        where teacherid = #{teacherid,jdbcType=INTEGER}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        DELETE FROM teacher
        WHERE id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="com.csc.qa.entity.Teacher">
        INSERT INTO teacher (id, teacherid, keyword
        )
        VALUES (#{id,jdbcType=INTEGER}, #{teacherid,jdbcType=INTEGER}, #{keyword,jdbcType=VARCHAR}
        )
    </insert>
    <insert id="insertSelective" parameterType="com.csc.qa.entity.Teacher">
        insert into teacher
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="teacherid != null">
                teacherid,
            </if>
            <if test="keyword != null">
                keyword,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="teacherid != null">
                #{teacherid,jdbcType=INTEGER},
            </if>
            <if test="keyword != null">
                #{keyword,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.csc.qa.entity.Teacher">
        update teacher
        <set>
            <if test="teacherid != null">
                teacherid = #{teacherid,jdbcType=INTEGER},
            </if>
            <if test="keyword != null">
                keyword = #{keyword,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.csc.qa.entity.Teacher">
        UPDATE teacher
        SET teacherid = #{teacherid,jdbcType=INTEGER},
            keyword   = #{keyword,jdbcType=VARCHAR}
        WHERE id = #{id,jdbcType=INTEGER}
    </update>
</mapper>